body {
    display: flex;
    flex-direction: column;
}

footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    bottom: 0;
    left: 0;
    padding: 1vh;
}

h2 {
    margin-top: 0;
}

h3 {
    margin: 0;
}

hr {
    width: 100%;
}

main {
    margin: auto;
    padding: 5vw;
    display: flex;
    flex-direction: row;
}

path {
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    background-color: rgb(81, 163, 163);
    border-radius: 15px;
    padding: 2vh;
    margin: 1.5vh;
    width: 15vh;
}

.contactinfo {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1vh;
}

.contactinfo > div {
    align-content: center;
    background-color: rgb(81, 163, 163);
    border-radius: 15px;
    height: 0%;
    padding: 1vh;
}

.contactinfo > svg {
    cursor: pointer;
}

#secondary-profile-img {
    width: 30vh;
    align-self: center;
    justify-self: center;
    border-radius: 15px;
    margin: 1.5vh;
}

@media (height >= 75vw) {
    html, body {
        overflow: scroll;
    }

    footer {
        padding: 2vh;
    }

    main {
        margin: 0 5vw 0 max(5vw, 5vh);
        flex-direction: column;
    }

    section {
        width: 90%;
        margin: 1.5vh 0;
    }
}
