body {
    display: flex;
    flex-direction: column;
}

footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    bottom: 0;
    left: 0;
    padding: 1vh;
}

h2 {
    margin-top: 0;
}

h3 {
    margin: 0;
}

hr {
    width: 100%;
}

main {
    margin: auto;
    padding: 5vw;
    display: flex;
    flex-direction: row;
}

path {
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    background-color: rgb(81, 163, 163);
    border-radius: 15px;
    padding: 2vh;
    margin: 1.5vh;
    width: 15vh;
}

.contactinfo {
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 1vh;
    border-radius: 100vw;
    padding: 1vh 1.5vh;
    color: white;
    text-decoration: none;
    align-self: flex-start;
}

#email-info:hover > svg > .gmail-red {
    fill: #EA4335;
}

#email-info:hover > svg > .gmail-yellow {
    fill: #FBBC05;
}

#email-info:hover > svg > .gmail-green {
    fill: #34A853;
}

#email-info:hover > svg > .gmail-darkred {
    fill: #BB001B;
}

#email-info:hover > svg > .gmail-blue {
    fill: #4285F4;
}

#github-info:hover > svg > path {
    fill: #0FBF3E;
}

#linkedin-info:hover > svg > path {
    fill: #0a66c2;
}

#secondary-profile-img {
    width: 30vh;
    align-self: center;
    justify-self: center;
    border-radius: 15px;
    margin: 1.5vh;
}

@media (height >= 75vw) {
    html, body {
        overflow: scroll;
    }

    footer {
        padding: 2vh;
    }

    main {
        margin: 0 5vw;
        padding-bottom: 0;
        flex-direction: column;
    }

    section {
        width: 90%;
        margin: 1.5vh 0;
    }

    footer {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5vw;
    }
}
