:root {
    --orbit-radius: 30vh;
    --orbit-padding: 30vw;
}

circle {
    transform-origin: 50% 50%;
}

h1 {
    font-family: "Basically A Mono SemiBold";
    font-size: clamp(3em, 8vw, 6em);
}

h1 span {
    display: inline-block;
    transition: 0.3s ease-out;
}

h1 span:hover {
    rotate: y 0.5turn;
}

img {
    transform-origin: 0 0;
}

text {
    font-family: "JetBrains Mono";
}

#left-item {
    rotate: clamp(0.333turn, calc(0.275turn + acos(var(--aspect-ratio))), 0.45turn);
}

#left-item text {
    rotate: clamp(-0.45turn, calc(-0.275turn - acos(var(--aspect-ratio))), -0.333turn);
    transform-origin: 50% 50%;
}

#profile-img {
    top: 50%;
    left: 50%;
    width: 30vh;
    border-radius: 50%;
    border: 4px solid black;
}

#right-item {
    rotate: clamp(-0.45turn, calc(-0.275turn - acos(var(--aspect-ratio))), -0.333turn);
}

#right-item text {
    rotate: clamp(0.333turn, calc(0.275turn + acos(var(--aspect-ratio))), 0.45turn);
    transform-origin: 50% 50%;
}

.floating {
    position: fixed;
    transform: translate(-50%, -50%);
}

.interactive {
    transition: 0.1s ease-in-out;
}

.interactive:hover {
    cursor: pointer;
    scale: 1.2;
}

.orbiting {
    top: calc(50vh + var(--orbit-radius));
    left: 50vw;
    transform-origin: 0 calc(-1 * var(--orbit-radius));
}

.orbiting text {
    pointer-events: none;
}

