html, body {
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

body {
    height: 100%;
}

h1 {
    text-align: center;
    white-space: nowrap;
}

@font-face {
    font-family: "Basically A Mono SemiBold";
    src: url(/public/BasicallyAMono-SemiBold.ttf);
}

@font-face {
    font-family: "JetBrains Mono";
    src: url(/public/JetBrainsMono-Regular.ttf);
}